@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header h1{
  text-align: center;
}